<%= render 'shared/navbar'%>

<section>
        <div class="banner-wrapper d-flex justify-content-center align-items-center flex-column">
          <h5>EDMONTON DIGITAL AGENCY</h5>
          <h1>A fully digital agency</h1>
          <a href="" class="btn text-decoration-none"> Get started</a>
        </div>
      </section>
      <!-- Our story -->
      <section>
        <div class="row mx-auto story">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="d-flex align-items-center story-content">
              <hr />
              <h3 class="my-0 f-36">Our <span>Story</span></h3>
            </div>
            <p class="f-18 story-content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, do sed do
              eiusmod tempor incididunt ut labore et dolore as in magna aliqua.
              Ut enim ad minim as veniam, quis nostrud to exercitation ullamco.
            </p>
            <p class="f-18 story-content-text">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.
            </p>
            <p class="f-18 story-content-text">
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.
            </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/about/story.jpg" alt="" class="w-100">
          </div>
        </div>
      </section>
      <!-- label -->
      <section class="label-sec">
        <div class="label mx-auto d-flex flex-column justify-content-center align-items-center">
          <h4 class="text-center">We are problem solvers and our everyday focus is to deliver solutions that will help your business grow.</h4>
          <a href="" class="btn">Get Started</a>
        </div>
      </section>
      <!-- help -->
      <section>
        <div class="helped mx-auto">
          <div class="f-36 heading text-center">
            <h4>How we can help you
            </h4>
          </div>
          <div class="heading-2 text-center">
            <h2>If you’re looking for help or advice on how to do any of the following, head over to our <span>Get Started</span> page, fill out the form, and a member of our team will get in touch with your shortly.</h2>
          </div>
          <div class="work-list row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <ul>
                <li>Re-design my current website</li>
                <li>Tell me how I should spend my marketing dollars</li>
                <li>Get ongoing digital strategy and support</li>
                <li>Increase my website traffic</li>
                <li>Grow my online sales</li>
                <li>Get more people calling my business</li>
                <li>Get more social media followers</li>
              </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <ul>
                <li>Re-design my current website</li>
                <li>Tell me how I should spend my marketing dollars</li>
                <li>Get ongoing digital strategy and support</li>
                <li>Increase my website traffic</li>
                <li>Grow my online sales</li>
                <li>Get more people calling my business</li>
                <li>Get more social media followers</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- partner -->
      <section>
        <div class="partner mx-auto">
          <div class="d-flex align-items-center story-content">
            <hr />
            <h3 class="my-0 f-36">Our <span>Partner</span></h3>
          </div>
          <p>While we know what we are really good at, we also recognize that others are very good a other digital services. To offer our clients the best all around service, we’ve partnered with the following agencies on several projects. </p>
          <div class="row row-cols-1 row-cols-md-3 g-4 mx-0">
            <div class="col">
              <div class="card h-100">
                <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/about/card.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <hr />
                  <h5 class="card-title">Crow Creative
                  </h5>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Branding</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Promotional Marketing</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Social Media Management</p>
                  <a href="">thecrowcreative.com</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/about/card.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <hr />
                  <h5 class="card-title">Crow Creative
                  </h5>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Branding</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Promotional Marketing</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Social Media Management</p>
                  <a href="">thecrowcreative.com</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/about/card.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <hr />
                  <h5 class="card-title">Crow Creative
                  </h5>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Branding</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Promotional Marketing</p>
                  <p class="card-text"><i class="bi bi-arrow-right"></i>Social Media Management</p>
                  <a href="">thecrowcreative.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      <!-- partner logo -->
      <section class="partner-logo-sec">
        <div class="partner-logo mx-auto d-flex justify-content-center align-items-center">
          
          <div class="p-logo"><img class="w-100" src="https://i.ibb.co/6HynNKS/wordpress.png"></div>
          <div class="p-logo"><img class="w-100" src="https://i.ibb.co/41kkqNJ/cnn.png"></div>
          <div class="p-logo"><img class="w-100" src="https://i.ibb.co/g6W04GJ/google.png"></div>
          <div class="p-logo"><img class="w-100" src="https://i.ibb.co/CsFyzY8/hbo.png"></div>
          <div class="p-logo"><img class="w-100" src="https://i.ibb.co/T20Ssx4/hulu.png"></div>
          <div class="p-logo"><img class="w-100"src="https://i.ibb.co/ncvNQSB/ibm.png"></div>
          <div class="p-logo"><img class="w-100"src="https://i.ibb.co/yPzSXPL/microsoft.png"></div>
        </div>
      </section>

<%= render 'shared/footer'%>
