<!-- Footer -->
<footer>
  <div class="footer-main">
    <div class="footer-top">
      <div class="footer-top-content">
        <div class="row mx-0 justify-content-between">
          <div class="col-lg-4 col-md-6 col-sm-12 footer-logo-section">
           <%= image_tag "#{ENV['BUCKET_URL']}footer-logo.svg",class:"footer-logo w-100",  alt:"" %>
            <p class="f-18">Sed ut perspiciatis unde omnis iste natus 
            error sit volupta accusantium doloremque.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 d-flex footer-top-content-location">
            <div class="d-flex flex-column footer-top-content-info">
              <div class="location d-flex align-items-start">
           <%= image_tag "#{ENV['BUCKET_URL']}location.svg",class:"footer-loc",  alt:"" %>
                <p class="f-16 m-0">136, Ground Floor, Vishal House, Nehru 
                Market , Zamrudpur, GK-I, New Delhi - 110048</p>
              </div>
              <div class="whatsapp d-flex">
           <%= image_tag "#{ENV['BUCKET_URL']}whatsapp.svg", alt:"" %>
                <a class="f-16" href="tel:99 585 27 662">+91 99 585 27 662</a>
              </div>
              <div class="mail d-flex">
           <%= image_tag "#{ENV['BUCKET_URL']}mail.svg", alt:"" %>
                <a class="f-16" href="mailto:sales@galaxytrendz.com">sales@galaxytrendz.com</a>
              </div>
            </div>
            <div class="d-flex footer-menu">
              <ul class="list-unstyled">
                <li class="f-20"><a href="">Resources</a></li>
                <li class="f-20"><a href="">Company</a></li>
                <li class="f-20"><a href="">Shop</a></li>
                <li class="f-20 my-0"><a href="">Catalog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-section">
      <p class="text-center m-0 f-16">Copyright ©2022 All rights reserved by <a href="#">DevoHack</a></p>
    </div>
  </div>
</footer>
