<header>
  <!-- top bar -->
  <nav class="top-bar navbar navbar-expand navbar-light">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><%= image_tag "https://sorsally.s3.ap-south-1.amazonaws.com/assets/images/headwhatsapp.svg",alt:"" %>+91 99585
            27662</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#"><%= image_tag "#{ENV['BUCKET_URL']}headmail.svg",alt:"" %> sales@galaxytrendz.com</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>