<!-- Navbar -->
   <nav class="bottom-bar navbar navbar-expand-lg navbar-light py-0">
      <div class="main-navbar container-fluid">           
        <a class="navbar-brand p-0" href="/"><%= image_tag "#{ENV['BUCKET_URL']}navbrand.svg",class:"mx-auto", alt:""  %></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalogs">Catologue</a>
          </li>
         
          <% if user_signed_in? %>
						<li class="nav-item">
            	<%= link_to 'Sign out', destroy_user_session_path, method: :get, class:"nav-link"%>
         		</li>
         	<% else %>
         		<li class="nav-item">
            	<a class="nav-link" href="/users/sign_in">Login</a>
          	</li>
          <% end %>
        </ul>
        <a class="btn me-0" href="#">Get Started</a>
      </div>
    </div>
  </nav>