<!-- Navbar -->
   <nav class="bottom-bar navbar navbar-expand-lg navbar-light py-0">
      <div class="main-navbar container-fluid">           
        <a class="navbar-brand p-0" href="/"><%= image_tag "#{ENV['BUCKET_URL']}navbrand.svg",class:"mx-auto", alt:""  %></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link f-16" href="/about_us">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link f-16" href="/products">Catologue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link f-16" href="/galleries">Gallery</a>
          </li>
          <% if user_signed_in? && current_user.is_admin? %>
          <li class="nav-item">
            <a class="nav-link f-16" href="/products/new">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link f-16" href="/users">Users</a>
          </li>
          <% end %>

         
          <% if user_signed_in? %>
						<li class="nav-item">
            	<%= link_to 'Sign out', destroy_user_session_path, method: :get, class:"nav-link f-16"%>
         		</li>
         	<% else %>
         		<li class="nav-item">
            	<a class="nav-link f-16" href="/users/sign_in">Sign In</a>
          	</li>
          <% end %>
        </ul>
        <% if !user_signed_in? %>
        <a class="btn me-0 f-16" href="/users/sign_up">Sign Up</a>
        <% end %>
        
      </div>
    </div>
  </nav>