<section>
        <div class="banner-wrapper-gallery d-flex justify-content-center align-items-center">
          <h1>Gallery</h1>
        </div>
</section>
      <!-- Gallery section -->
      <section class="gallery">
        <div class="gallery-maindiv mx-auto">
          <div class="work row mx-0">
            <div class="category-buttons col-sm-12 col-md-3 col-lg-3">
              <a href="#" class="active all" data-group="all">All</a>
              <a href="#" data-group="city">Winter wear</a>
              <a href="#" data-group="nature">Footwear</a>
              <a href="#" data-group="food">Watches</a>
              <a href="#" data-group="sports">Ethnic wear</a>
              <a href="#" data-group="people">Sports & fitness</a>
            </div>
            <div id="grid" class="grid px-0 col-sm-12 col-md-9 col-lg-9">
              <a class="card" href="#" data-groups="city,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="nature,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="food,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5">
              </a>
              <a class="card" href="#" data-groups="sports,people,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="people,food,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="city,people,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="nature,food,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="food,people,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="sports,people,">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <a class="card" href="#" data-groups="people,food">
                <img src="https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=27a346c2362207494baa7b76f5d606e5" />
              </a>
              <div class="guide"></div>
            </div>
          </div>
        </div>
      </section>
      <%= render 'shared/footer'%>

<%= javascript_include_tag 'gallery'%>

