.add-product-page{
  height: calc(100vh - 88px);
  display: flex;
  background: rgba(0, 0, 0, 0.3);
}
.add-product-form label{
	    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.add-product-form select{
	    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    background: #fff;
}
.add-product-form .gender-options{
	width: 50%;
}
.product-main-image{
      padding-top: 10%;
    width: 93%;
    height: 72%;
}
.product-main-image img{
  height: 100% !important;
}
.women-options,.men-options{
      padding-left: 25px;
}
.add-images{
  position: relative;
  left: 32px;
}