.add-product-page{
  height: calc(100vh - 88px);
  display: flex;
  background: rgba(0, 0, 0, 0.3);
}
.add-product-form label{
	    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.add-product-form select{
	    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    background: #fff;
}
.add-product-form .gender-options{
	width: 50%;
}
.add-product-update-button{
      padding: 16px 33px;
}
.add-product-back-button {
      border: 2px solid black !important;
    padding: 16px 33px !important;
    border-radius: 10px 0px 0px 10px !important;
}
.women-options,.men-options{
      padding-left: 25px;
}
.add-images{
  position: relative;
  left: 32px;
}
.product-small-image .uploaded-images{
  background: url('https://sorsally.s3.ap-south-1.amazonaws.com/assets/images/add.jpg');
  background-size: cover;
  background-position: center;
}