.forgot-main{
	height: calc(100vh - 104px);
	background: rgba(0, 0, 0, 0.25);
}
.forgot-main::before{
	height: 100vh;
	width: 100vw;
	content: '';
	position: absolute;
	background: url('https://sorsally.s3.ap-south-1.amazonaws.com/assets/images/sign-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	left: 0;
	z-index: -1;
	
}
.forgot-main .forgot-form-area{
	width: 1312px;
}
.forgot-main .forgot-form{
	background: var(--text-secondary-color);
	border-radius: 24px;
}
.forgot-form-content{
	padding: 28px;
}
.forgot-form-content h1{
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #00C2FF;
	margin-bottom: 50px;
}
.forgot-form-content .forgot-email input{
	background: #FFFFFF;
	border: 1px solid rgba(58, 58, 58, 0.1);
	border-radius: 8px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 24px;
}
.forgot-form-content .forgot-email{
	margin-bottom: 30px;
}
.forgot-form-content .forgot-submit{
	margin-bottom: 30px;
}
.forgot-form-content .forgot-submit input{
	width: 100%;
	padding: 18px 0px;
	border: none;
	background: var(--primary-color);
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;

}
.forgot-form-content .back-to-login input{
	width: 40%;
	padding: 18px 0px;
	border: none;
	background: var(--primary-color);
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.nav-link-active {
    border-bottom: 2px solid var(--primary-color) !important;
}
.forgot-heading p{
	font-weight: 450;
    color: #00c2ff;
}
.forgot-heading{
	margin-bottom: 30px;
}
.form-already{
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: var(--text-primary-color);
}
/*Responsive Css*/
@media(max-width: 1315px){
	.forgot-form-area{
		padding: 0px 20px;
	}
}