.banner-wrapper-gallery h1{
  color: #fff;
  font-size: 4rem;
  font-weight: 700 !important;
  text-shadow: 1px 2px #000;
}
.gallery{
  padding: 20px;
}
.gallery-maindiv{
  max-width: 1313px;
}
.gallery-head{
  margin-left: 31px;
  margin-bottom: 48px;
}
.banner-wrapper-gallery{
 background: rgba(0, 0, 0, 0.25) !important;
 height: 45vh;
 margin-bottom: 48px;
}
.banner-wrapper-gallery::before{
  height: 45vh;
  width: 100vw;
  content: '';
  position: absolute;
  background: url('https://sorsally.s3.ap-south-1.amazonaws.com/assets/gallery/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 15%;
  top: 88px;
  left: 0;
  z-index: -1;
}

.work {
  padding-bottom: 40px;
  margin-top: 60px;
}
.work * {
  box-sizing: border-box;
}
.work .category-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
}




.work .category-buttons a {
  color: #9A9A9A;
  text-decoration: none;
  margin-left: 19px !important;
  margin-right: 0 !important;
  padding: 9px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid rgba(58, 58, 58, 0.1);
  border-radius: 5px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
}
.work .category-buttons a.active {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
}
.work .grid {
  margin-top: 40px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 750ms cubic-bezier(1, 0, 0, 1);
  transition: all 750ms cubic-bezier(1, 0, 0, 1);
}
.work .grid .animating {
  -webkit-transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
.work .grid .setScale {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.work .grid .show {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.work .card {
  background: #fff;
  display: block;
  text-decoration: none;
  color: #2b2b2b;
  width: 30%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
  transform-origin: center center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.work .card img {
  display: block;
  width: 100%;
  height: 100%;
}
.work .card .title {
  padding: 10px;
  color: #2b2b2b;
}
.work .guide {
  width: 32%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
}


@media (max-width: 1320px){
  .work .category-buttons {
    text-align: center;
    margin: 0 0 60px 0;
    display: block;
  }
}

@media (max-width: 960px) {
  .work .grid {
    width: 700px;
  }
}

@media (max-width: 1320px) and (min-width: 768px){
  .work .category-buttons  {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

@media (max-width: 720px) {
  .work .grid {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .work .guide {
    width: 49.25%;
  }
  .work .card {
    width: 49.25%;
  }
}

@media (min-width: 611px) {
  .work .category-buttons a:first-child {
    margin-left: 0;
  }
  .work .category-buttons a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 867px) and (min-width: 610px) {
  .work .category-buttons {
    margin: 0 0 30px 0 !important;
    padding: 0 !important;
  }
  .work .category-buttons a {
    display: inline-block;
    width: 48.5%;
    padding: 12px 10px !important;
    margin: 1.5% 1% !important;
  }
  .work .category-buttons a:nth-child(even) {
    margin-right: 0 !important;
  }
  .work .category-buttons a:nth-child(odd) {
    margin-left: 0 !important;
  }
}
@media (max-width: 610px) {
  .work .category-buttons {
    margin: 0 0 30px 0 !important;
    padding: 0 !important;
  }
  .work .category-buttons a {
    display: inline-block;
    width: 48.5%;
    padding: 12px 10px !important;
    margin: 1.5% 1% !important;
  }
  .work .category-buttons a:nth-child(even) {
    margin-right: 0 !important;
  }
  .work .category-buttons a:nth-child(odd) {
    margin-left: 0 !important;
  }
}

@media (max-width: 480px) {
  .work .guide {
    width: 100%;
  }
  .work .card {
    width: 100%;
  }
}